<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title or site.title }}</title>

    <meta name="description" content="{{ description or site.title }}"/>
    <meta name="keywords" content="{{ keywords }}"/>

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.baseUrl }}{{ page.url }}"/>
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="es_MX">
    <meta property="og:title" content="{{ title or site.title }}"/>
    <meta property="og:description" content="{{ description or site.description }}"/>
    <meta property="og:image"
          content="https://v1.screenshot.11ty.dev{{ site.baseUrl | urlencode }}{{ page.url | urlencode }}">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:image:alt" content="Screenshot taken from {{ site.baseUrl }}{{ page.url }}">

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/katex.min.css"/>
    <link rel="stylesheet" href="/css/prism.css"/>
</head>

<body id="top">
<header>
    <h1>{{ site.title }}</h1>
    <nav>
        <span class="nav-bar-item"><a class="link" href="/">Posts</a></span>
        <span class="nav-bar-item"><a class="link" href="/archives/">Archivo</a></span>
        <span class="nav-bar-item"><a class="link" href="/about/">Acerca de</a></span>
    </nav>
</header>

<main>
    {{ content | latexdisplay | latex | safe }}
</main>
<footer id="footer">
    <div><span>© 2021 </span> - <span> {{ site.lastModifiedDate.getFullYear() }}</span></div>
    <div><span>{{ site.author }}</span></div>
    <div class="footnote">
        <span>Sigueme en <a class="link" href={{ site.github }}>GitHub</a>,
            email: <a href="mailto:{{ site.email }}"> {{ site.email }}</a>
        </span>
    </div>
</footer>
</body>
</html>
