---
layout: base.njk
---
<hr>
<div>
    <h1>{{ title }}</h1>
</div>
<p class="author">
    {{ author }} <br>
    {{ date.toLocaleDateString('es-es',{ year: 'numeric', month: 'long', day: 'numeric' }) }}
</p>
<div class="abstract">
    <h2>Resumen</h2>
    <p>
        {{ description }}
    </p>
</div>
{{ content | latexdisplay | latex | safe }}

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<div class="paginator">
    {% if previousPost %}<a class="link" href="{{ previousPost.url }}">← anterior</a>{% else %}<a></a>{% endif %}
    {% if nextPost %}<a class="link" href="{{ nextPost.url }}">siguiente →</a>{% else %}<a></a>{% endif %}
</div>
