---
layout: base.njk
author: Miguel Angel Carrasco
date: 2022-11-20
---
<hr>
<div>
    <h1>Acerca de</h1>
</div>
<p>
    Mi nombre es Miguel Angel Carrasco, soy un entusiasta de las matemáticas, la programación y el jazz.
</p>
<p>
    Este es un simple proyecto que empecé como un sitio donde compilar y almacenar diversas ideas de
    varios tópicos tales como matemáticas, computación, física, música y en general, todo tipo de
    conocimiento valioso que he ido aprendiendo con el tiempo, principalmente para recordarlas y
    compartirlas públicamente.
</p>
<h2>Tecnología</h2>
<p>
    El blog está hecho con el generador de sitios estático <a href="https://www.11ty.dev">11ty</a>.
    Y el tema está descaradamente copiado de <a href="https://github.com/queensferryme/hugo-theme-texify">Texify</a> para
    <a href="https://gohugo.io">Hugo</a> hecho por Queensferry, solo que utilizando completamente el
    <a href="https://github.com/vincentdoerig/latex-css">css de latex</a> hecho por Vincent Dörig y adaptado a 11ty.
    Por su puesto, todo este blog es de contenido y código abierto por lo cual se puede consultar en
    <a href="https://github.com/miguelcarrasco/texblog">GitHub</a>, clonarlo, mejorarlo y usarlo como se requiera.
</p>
<h2>Contribuiciones y contacto</h2>
<p>
    El progreso casi siempre viene de mejorar las ideas creadas en el pasado, esto ocurre en la ciencia y en el arte.
    Casi todo lo que comparto proviene de la luz de otros que a su vez estaban parados en hombros de otros gigantes.
    Intento contribuir mejorando la claridad en la exposición de estas ideas y espero poder transmitirlas a todo aquel
    que lo necesite.
</p>
<p>
    Pueden contactarme por correo a <a href="mailto:{{ site.email }}"> {{ site.email }}</a> para sugerencias, opiniones,
    correcciones, etc. También se aceptan pull requests si desean contribuir o corregir contenido. Cualquier contribución
    será reconocida en el sitio, además de agradecerles el esfuerzo.
</p>
